*{
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.form{
  padding: .2rem;
}

.formInput{
  font-size: 1.2rem;
}

.button{
  margin-left: 1rem;
  background-color: aquamarine;
  font-size: 1.2rem;
}

.mapImg{
  border: 2px solid black;
  margin: auto;
  grid-column: 1/2;
}
.weather{
  grid-column: 2 / 2;
}

.errorMessage{
  background-color: rgb(251, 94, 94);
  border: 2px solid black;
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem;
  padding: 1rem;
}

.returnedData{
  display: grid;
  grid-column: auto auto;
}

#locationName{
  text-align: center;
}